.header__link::after {
    content: '\2192';
  }
  
  .header__link {
    color: #2F80ED;
    text-decoration: none;
  }
  .header__link:hover {
    color: rgb(224, 157, 157);
    opacity: 0.5;
    transition: 0.5s linear;
  }